{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Acceuil{% endblock %}
{% block stylesheets %}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block body %}
    <main id="main">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <img class="navbar-brand logo" src="{{ asset('images/new-logo-fr.png') }}" alt="logo" title="Samakunchan Technology">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse bg-light" id="navbarColor02">
                    <ul class="nav navbar-nav w-100 justify-content-end menu">
                        <li class="nav-item">
                            <a id="part0" class="nav-link menu-actif" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="part1" class="nav-link" href="#competence">Compétences</a>
                        </li>
                        <li class="nav-item">
                            <a id="part2" class="nav-link" href="#realistation">Réalisations</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">En savoir plus</a>
                            <!-- J'ai effacé x-placement="bottom-start" de la balise .dropdown-menu -->
                            <div class="dropdown-menu" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                                <a id="part3" class="dropdown-item" href="#contact">Plus d'infos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('contact') }}">Me contacter</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="trg triangle"></div>
            <div class="trg triangle-shadow"></div>
            <div class="trg triangle-btn"></div>
            <div class="trg triangle-btn-shadow"></div>
        </header>
        <div class="space-navbar"></div>
        <section class="slideshow">
            <section id="home" class="page part0 home-web active-page">
                <article>
                    <div>
                        <h1>Samakunchan Technology</h1>
                        <em>Développeur: Cédric Badjah</em>
                    </div>
                    <h2 id="texte0" style="opacity: 0"></h2>
                    <h2 id="texte1" style="opacity: 0"></h2>
                    <h2 id="texte2" style="opacity: 0"></h2>
                    <h2 id="texte3" style="opacity: 0"></h2>
                    <h2 id="texte4" style="opacity: 0"></h2>
                </article>
            </section>
            <section class="home-mobile">
                <div>
                    <h1>Samakunchan Technology</h1>
                    <em>Développeur: Cédric Badjah</em>
                </div>
                <img src="{{ asset('images/home-mobile.png') }}" alt="home-mobile" title="home-mobile">
            </section>
            <section id="competence" class="page competence part1">
                <h1 class="text-center">Compétences</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#responsive-design">Responsive web design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#technologies-utilises">Technologies utilisés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#seo">Référencement naturel</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content bg-light">
                    <div class="tab-pane fade show active" id="responsive-design">
                        <ul class="responsive-design-list row">
                            <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                                <aside class="mockup">
                                    <img src="{{ asset('images/competences/templates/mockup.png') }}" alt="mockup">
                                </aside>
                            </li>
                            <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
                                <article>
                                    <h2 class="text-light">Responsive web Design</h2>
                                    <p>Le Responsive web Design (RWD) est un site web dont la conception vise, grâce à différents principes et techniques, à offrir une consultation confortable même pour des supports différents.
                                    </p>
                                    <p>L'utilisateur peut ainsi consulter le même site web à travers une large gamme d'appareils (moniteurs d'ordinateur, smartphone, tablettes, télévision…) avec le même confort visuel et sans avoir recours au défilement horizontal ou au zoom avant/arrière sur les appareils tactiles notamment, manipulations qui peuvent parfois dégrader l'expérience utilisateur, tant en lecture qu'en navigation.
                                    </p>
                                    <p>Le Responsive Web Design ou site web adaptatif (en français) est développé avec des <code>media queries</code> et un système de <code>grille bootstrap</code>.</p>
                                    <p>
                                            Une expérience utilisateur "Responsive" réussie implique un minimum de redimensionnement (zoom), de recadrage, et de défilements multidirectionnels de pages.
                                    </p>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="technologies-utilises">
                        <ul class="technology">
                            <li>
                                <img src="{{ asset('images/competences/technology/html5.png') }}" alt="html5" title="HTML5">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/css3.png') }}" alt="css3" title="CSS3">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/js.png') }}" alt="javascript" title="JAVASCRIPT">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/es6.png') }}" alt="es6" title="JAVASCRIPT ES6"></li>
                            <li>
                                <img src="{{ asset('images/competences/technology/api-rest.png') }}" alt="api-rest" title="API REST">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/php.png') }}" alt="php" title="PHP">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/mysql.png') }}" alt="mysql" title="MYSQL">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/wordpress.jpg') }}" alt="wordpress" title="WORDPRESS">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/symfony.png') }}" alt="symfony" title="SYMFONY">
                            </li>
                            <li>
                                <img src="{{ asset('images/competences/technology/ajax.png') }}" alt="ajax" title="AJAX">
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="seo">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
                            <article class="seo">
                                <h2 class="text-white">Le référencement naturel (SEO)</h2>
                                <p>Techniques cherchant à améliorer la compréhension par les robots d'indexation de la thématique et du contenu d'une ou de l'ensemble des pages d'un site web et à en augmenter ainsi le trafic naturel. On considère que le positionnement d'un site est bon lorsqu'il est positionné en première page des résultats de recherche, dans l'une des dix premières réponses d'une recherche.</p>
                            </article>
                            <aside class="google">
                                <img src="{{ asset('images/competences/seo/google.png') }}" alt="Google">
                            </aside>
                        </div>

                    </div>
                </div>
            </section>
            <section id="realistation" class="page part2">

                <div class="real-content" style="opacity: 1; z-index: 10; position: absolute;">
                    <h1 class="text-center">Réalisations</h1>
                    <ul class="realisation-list w-100">
                        <li>
                            <img src="{{ asset('images/realisations/wa.png') }}" alt="wa" title="Web Agency">
                        </li>
                        <li>
                            <img src="{{ asset('images/realisations/jfr.png') }}" alt="jfr" title="Blog de jean Forteroche">
                        </li>
                        <li>
                            <img src="{{ asset('images/realisations/vtr.png') }}" alt="vtr" title="Vis tes rêves - Village vacance">
                        </li>
                        <li>
                            <img src="{{ asset('images/realisations/jdr.png') }}" alt="jdr" title="Platform JDR">
                        </li>
                        <li>
                            <img src="{{ asset('images/realisations/strasbourg.png') }}" alt="strasbourg" title="Strasbourg">
                        </li>
                        <li>
                            <img src="{{ asset('images/realisations/velo.png') }}" alt="velo" title="Bycicle in lyon">
                        </li>
                    </ul>
                </div>
                <div class="filter-green"></div>
            </section>
            <section id="contact" class="page part3">
                <h1 class="text-center">Plus d'infos</h1>
                    <article class="contact-web row">
                        <section class="card text-white my-bg-orange mb-3 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <p class="card-header">Réseaux sociaux</p>
                            <p class="card-body text-center">
                                <a href="https://twitter.com/Samakunchan" target="_blank">
                                    <i class="fa fa-twitter-square" style="font-size:80px;color:white"></i>
                                </a>
                                <br>
                                <a href="https://www.linkedin.com/in/cedric-badjah-9646b3141/">
                                    <i class="fa fa-linkedin-square" style="font-size:80px;color:white"></i>
                                </a>
                                <br>
                                <a href="https://github.com/samakunchan">
                                    <i class="fa fa-github" style="font-size:80px;color:white"></i>
                                </a>
                                <br>
                                <a href="https://www.codeur.com/-samakunchan" class="text-white" style="text-decoration: none; font-size: 25px">
                                    CODEUR
                                </a><br>
                            </p>
                        </section>
                        <section class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                            <article class="row">
                                <div class="card text-white my-bg-green col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="card-header text-center">Coordonnées</div>
                                    <div class="card-body">
                                        <p class="card-title"><i class="fas fa-mobile-alt" style="font-size:20px;color:white"></i> 06 . 46 . 60 . 34 . 61</p>
                                        <p class="card-title"><i class="fas fa-envelope" style="font-size:20px;color:white"></i> cedric.badjah@gmail.com</p>

                                    </div>
                                </div>
                                <div class="card text-white my-bg-blue col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-33">
                                    <div class="card-header text-center">Disponibilité</div>
                                    <div class="card-body text-center">
                                        <i class="fa fa-calendar" style="font-size:35px;color:white; padding-bottom: 10px"></i>
                                        <h4 class="card-title">Lundi-Vendredi</h4>
                                        <p class="card-text">9h-18h</p>
                                        <a href="{{ path('contact') }}" class="btn btn-info">Me contacter</a>
                                    </div>
                                </div>
                                <div class="card text-white my-bg-yellow col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="card-header text-center">Informations complémentaires</div>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <i class="fas fa-info-circle" style="font-size:35px;color:white; padding-bottom: 10px"></i>
                                        </div>
                                        <p>SIRET : 842 127 201 00015</p>
                                        <p class="mt-2">
                                            <a href="{{ path('cgv') }}">Conditions générales de ventes</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="card-header text-center">Devis</div>
                                    <div class="card-body">
                                        <p class="text-center p-5">GRATUIT</p>
                                    </div>
                                </div>
                            </article>
                            <article class="row">
                                <div class="card bg-danger col-lg-12 map">
                                    <div class="card-header text-white">Localisation: Montpellier</div>
                                    <div class="card-body">
                                        <div id="map" class="map-box"></div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </article>
                    <article class="contact-mobile row">
                        <div class="card text-white my-bg-green col-xs-3 col-sm-3 col-md-3">
                            <div class="card-header text-center">
                                <a href="{{ path('contact') }}" class="btn btn-info">Me contacter</a>
                            </div>
                        </div>
                        <div class="card text-white my-bg-blue col-xs-3 col-sm-3 col-md-3">
                            <div class="card-header text-center">
                                <i class="fa fa-calendar" style="font-size:35px;color:white"></i>
                                Lundi-Vendredi  9h-18h
                            </div>
                        </div>
                        <div class="card text-white my-bg-yellow col-xs-3 col-sm-3 col-md-3">
                            <div class="card-header text-center">
                                <i class="fas fa-handshake" style="font-size:35px;color:white"></i><br>
                                <a href="{{ path('cgv') }}" class="btn btn-info">Voir les conditions générales de ventes</a>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary col-xs-3 col-sm-3 col-md-3">
                            <div class="card-header text-center">Devis GRATUIT</div>
                        </div>
                        <div class="card text-white my-bg-orange col-xs-3 col-sm-3 col-md-3">
                            <p class="card-header text-center">Réseaux sociaux</p>
                            <p class="card-body res">
                                <i class="fa fa-twitter-square" style="font-size:60px;color:white"></i><br>
                                <i class="fa fa-linkedin-square" style="font-size:60px;color:white"></i><br>
                                <i class="fa fa-github" style="font-size:60px;color:white"></i><br>
                                <a href="https://www.codeur.com/-samakunchan">
                                    CODEUR
                                </a><br>
                            </p>
                        </div>
                    </article>
            </section>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" async src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <script type="application/javascript" async src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
    <script type="application/javascript" async src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script type="application/javascript" async src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
