{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1 class="text-center p-3">Contact</h1>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-dismissible alert-primary text-center">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('home') }}" class="btn btn-info m-2">Retour vers la page d'accueil</a>
    <section class="container">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
